@model ArduinoControl.Models.AppModel.ViewModel.DeviceView
<link href="~/Scripts/jtable/themes/lightcolor/gray/jtable.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
<script src="~/Scripts/jtable/jquery.jtable.min.js" type="text/javascript"></script>
@{
    ViewBag.Title = "Devices";
}
<h2>Device Manager</h2>
<div id="DeviceViewTable" style="margin: auto"></div>
<div id="DeviceViewTable" style="margin:inherit"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DeviceViewTable').jtable({
            title: 'Devices that you own',
            paging: 'true',
            sorting: 'true',
            defaultSorting: 'DeviceName ASC',
            actions: {
                listAction: '@Url.Action("DeviceList")',
                createAction: '@Url.Action("Create")',
                updateAction: '@Url.Action("Edit")',
                deleteAction: '@Url.Action("Delete")'
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                //Child table for Inputs
                Inputs: {
                    title: '',
                    width: '5%',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (inputPortView) {
                        //Create an image that will be used to open child table
                        var $img = $('<img src="/Content/Misc/xv.png" title="Edit Inputs" />');
                        //Open child table when user clicks the image
                        $img.click(function () {
                            $('#DeviceViewTable').jtable('openChildTable',
                                $img.closest('tr'),
                                {
                                    title: inputPortView.record.DeviceName,
                                    actions: {
                                        listAction: '@Url.Action("InputPortsList")?DeviceId=' + inputPortView.record.Id,
                                        deleteAction: '@Url.Action("InputPortsDelete")?Id=' + inputPortView.record.Id,
                                        updateAction: '@Url.Action("InputPortsUpdate")',
                                        createAction: '@Url.Action("InputPortsCreate")'
                                    },
                                    fields: {
                                        DeviceId: {
                                            type: 'hidden',
                                            defaultValue: inputPortView.record.DeviceId
                                        },
                                        Id: {
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        Name: {
                                            title: 'Name'
                                        },
                                        Unit: {
                                            tilte: 'Value Units'
                                        },
                                        MultiplicationFactor: {
                                            title: 'Multiplication Factor'
                                        },
                                        NominalLowValue: {
                                            title: 'Nominal Low'
                                        },
                                        NominalHighValue: {
                                            title: 'Nominal High'
                                        },
                                        AlarmLow: {
                                            title: 'Alarm Low'
                                        },
                                        AlarmHigh: {
                                            title: 'Alarm High'
                                        },
                                        AlarmNotificationAddress: {
                                            title: 'Alarm Send Addr.'
                                        },
                                        MinutesBetweenNotification: {
                                            title: 'Notification freq'
                                        }
                                    }
                                }, function (data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                        });
                        //Return image to show on the person row
                        return $img;
                    }
                },
                DeviceName: {
                    title: 'Device Name',
                    width: '40%'
                },
                DataSourceUrl: {
                    title: 'Data Source URL',
                    width: '20%'
                },
                FreqToPoll: {
                    title: 'Freq To Poll',
                },
                ExpectedReportingFreq: {
                    title: 'Reporting Freq(Min)?'
                },
                DurationToIgnore: {
                    title: 'Ignore(Min)'
                },
                AddressToNotifyIfNoResponse: {
                    title: 'Error Address(Email)'
                },
                MinutesBetweenNotification: {
                    title: 'Interval(min)'
                },
                __AFT__: {
                    create: true,
                    edit: true,
                    delete: true,
                    list: false,
                    input: function (data) {
                        return '@Html.AntiForgeryToken()';
                    }
                }
            }
        });
        
        $('#DeviceViewTable').jtable('load');        
    });
</script>